* {
	box-sizing: border-box;
}

body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background-color: #F9F9F9;
	margin: 0;
	padding: 0;
}

header {
	background-color: black;
	color: #FFFFFF;
	padding: 22px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
h1 {
  font-family: 'Sacramento', cursive;
  font-size: 2.5rem;
  margin: 0;
}


nav ul {
	display: flex;
	list-style: none;
}

nav li {
	margin-right: 20px;
}

nav a {
	color: #FFFFFF;
	text-decoration: none;
	font-size: 1.2rem;
	font-weight: bold;
	transition: all 0.3s ease-in-out;
}

nav a:hover {
	color: #FFD700;
}

main {
	margin-top: 100px;
}

.hero {
	background-image: url('rjexterior.jpg');
	background-size: cover;
	background-position: center;
	color: #f2f0f3;
	padding: 150px;
	text-align: center;
}

.hero h2 {
	font-size: 3rem;
	margin-bottom: 20px;
}

.hero p {
	font-size: 1.2rem;
	margin-bottom: 40px;
}

.btn {
	background-color: #FFD700;
	color: #FFFFFF;
	padding: 10px 20px;
	border-radius: 5px;
	font-size: 1.2rem;
	transition: all 0.3s ease-in-out;
}

.btn:hover {
	background-color: #FFFFFF;
	color: #0047AB;
}

.features {
	background-color: #FFFFFF;
	padding: 50px;
}

.features h2 {
	text-align: center;
	margin-bottom: 40px;
	font-size: 2rem;
}

.cards {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.card {
	flex-basis: calc(33.33% - 20px);
	background-color: #F9F9F9;
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
	padding: 20px;
	margin-bottom: 40px;
}

.card img {
	width: 120%;
	height: auto;
	margin-bottom: 20px;
}

.card h3 {
	font-size: 1.5rem;
	margin-bottom: 10px;
}

.card p {
	font-size: 1.2rem;
	margin-bottom: 20px;
}

footer {
	background-color: black;
	color: #FFFFFF;
	padding: 20px;
	text-align: center;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	font-size: 0.8rem;
}
